---
import StatusByKey from "../components/StatusByKey.astro";
import StatusByLocale from "../components/StatusByLocale.astro";
import { convertToKeyStatuses, type DataPerPlugin } from "../utils";
import "../styles/globals.css";
import "../styles/variables.css";
import DropdownLinks from "../components/DropdownLinks.astro";

interface Props {
  title: string;
  pluginsData: DataPerPlugin[];
}

const { title, pluginsData } = Astro.props as Props;

const keyStatuses = convertToKeyStatuses(pluginsData);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <title>{title}</title>
    <meta
      name="description"
      content="Tracking translation progress of Starlight plugins UI translations"
    />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Tracking translation progress of Starlight plugins UI translations"
    />
  </head>
  <body>
    <div class="dev-banner">
      🚧 This website is under development. Some important features are still
      missing.
    </div>
    <DropdownLinks />
    <div class="content">
      <main>
        <div class="limit-to-viewport">
          <h1>{title}</h1>
          <slot name="description" />
          <StatusByLocale {keyStatuses} />
        </div>
        <StatusByKey {keyStatuses} />
      </main>
    </div>
  </body>
</html>

<style>
  body {
    margin: 0;
  }
  .dev-banner {
    background-color: #fffbeb;
    color: #92400e;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid #facc15;
  }
  .content {
    margin: 2rem;
  }
  main {
    max-width: 80ch;
    margin-inline: auto;
  }
  .limit-to-viewport {
    max-width: calc(100vw - 2rem);
  }
</style>
